<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" routerLinkActive="active" routerLink="/"
      >Oshop</a
    ></mdb-navbar-brand
  >
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link waves-light"
          routerLink="/shopping-cart"
          mdbWavesEffect
          >Shopping cart</a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          *ngIf="appUser === 'Username'; else connected"
          class="nav-link waves-light"
          routerLink="/login"
          mdbWavesEffect
          >Login</a
        >
      </li>
      <!-- Dropdown -->
      <ng-template #connected
        ><li class="nav-item dropdown" routerLinkActive="active" dropdown>
          <a
            dropdownToggle
            mdbWavesEffect
            type="button"
            class="nav-link dropdown-toggle waves-light"
            mdbWavesEffect
          >
            {{ appUser }}<span class="caret"></span
          ></a>
          <div
            *dropdownMenu
            class="dropdown-menu dropdown dropdown-primary"
            role="menu"
          >
            <a
              class="dropdown-item waves-light"
              mdbWavesEffect
              routerLink="my-orders"
              >My orders</a
            >
            <a
              *ngIf="isAdmin"
              class="dropdown-item waves-light"
              routerLink="admin/orders"
              mdbWavesEffect
              href="#"
              >Manage orders</a
            >
            <a
              *ngIf="isAdmin"
              class="dropdown-item waves-light"
              routerLink="admin/products"
              mdbWavesEffect
              href="#"
              >Manage products</a
            >
            <a
              class="dropdown-item waves-light"
              mdbWavesEffect
              (click)="logout()"
              >Log out</a
            >
          </div>
        </li></ng-template
      >
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
